---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import { Image } from "astro:assets";
import type { ContactEntry } from "@/types";
import { render } from "astro:content";

interface Props {
  entry: ContactEntry;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} image={image?.src}>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg text-center p-8 md:col-10 lg:col-7 intersect:animate-fadeUp opacity-0 intersect-no-queue">
          {
            image && (
              <Image
                class="mx-auto mb-6 rounded-lg w-64"
                src={image}
                alt={imageAlt}
                width={1024}
                height={1024}
                loading="eager"
              />
            )
          }
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
            <Content />
              <div class="map-container">
              <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.0243460597458!2d26.120297899999997!3d44.453171999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f8b7dfa6082b%3A0xa7e95ee9f658e46a!2sRetro%20Pub!5e0!3m2!1sro!2sro!4v1753886333800!5m2!1sro!2sro" 
                  width="600" 
                  height="450" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
